<!DOCTYPE html>
{% extends 'super_admin.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="col-sm-12 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Add New Department</h4><br>
                                <form action="{% url 'Save_college' %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Department Name" name="name" required><br>
                                                    <input type="text" class="form-control" placeholder="Department Code" name="code" required><br>
                                                    <input type="email" class="form-control" placeholder="Email" name="email" required><br>
                                                    <input type="text" class="form-control" placeholder="Mobile Number" name="mob" required><br>
                                                    <input type="text" class="form-control" placeholder="Head of Department" name="hod" required><br>
                                                </div>
                                                <br><h4 class="card-title">Add User Details</h4><br>
                                                <input type="text" class="form-control" placeholder="Username" name="college_uname"><br>
                                                <input type="password" class="form-control" placeholder="Password" name="college_pswd"><br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="text-left">
                                            <button type="submit" class="btn btn-info">Submit</button>
                                            <button type="reset" class="btn btn-dark">Reset</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
</body>
</html>
{% endblock %}