<!DOCTYPE html>
{% extends 'college_admin.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.26.24/dist/sweetalert2.min.css" rel="stylesheet">
</head>
<body>
    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Archived Events</h4><br>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="bg-info text-white">
                                            <tr>
                                                <th>Title</th>
                                                <th>Options</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in event %}
                                        {% if i.is_archived == True %}
                                        <tr>
                                            <td>{{ i.title }}</td>
                                            <td>
                                                <a class="btn btn-primary text-white">Download Report</a>&nbsp;&nbsp;&nbsp;
                                                <a onclick="confirmDelete('{% url 'Unarchive' archive_id=i.id %}')" class="btn btn-danger text-white">Unarchive</a>
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-4.0.0.min.js"></script>
    {% if messages %}
    <script>
    {% for m in messages %}
        Swal.fire({
            icon: "{{ m.tags }}",
            text: "{{ m }}",
            timer:3000,
            showConfirmButton: false
        });
    {% endfor %}
    </script>
    {% endif %}
    <script>
        function confirmDelete(url){
            Swal.fire({
                text: "Are you sure to archive?",
                icon: "warning",
                showCancelButton: true,
            }).then((result) => {
                if (result.isConfirmed){
                    window.location.href = url;
                }
            });
        }
    </script>
</body>
</html>
{% endblock %}