<!DOCTYPE html>
{% extends 'college_admin.html' %}
{% block content %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.26.24/dist/sweetalert2.min.css" rel="stylesheet">
</head>
<body>
    <h2>Certificate Editor</h2>
    <p>{{ event.title }}</p>

<div style="display:flex;gap:50px;">
<!--    certificate set position-->
    <div id="canvas" style="position:relative;border:1px solid black;">
        <img src="{{ event.certificate.url }}" width="500">

        <div id="nameField" class="drag" style="left:{{ event.name_x|default:50 }}px;top:{{ event.name_y|default:50 }}px;">Student Name</div>
        <div id="eventField" class="drag" style="left:{{ event.event_x|default:50 }}px;top:{{ event.event_y|default:50 }}px;">Event Name</div>
        <div id="dateField" class="drag" style="left:{{ event.date_x|default:50 }}px;top:{{ event.date_y|default:50 }}px;">Participation Date</div>
        <div id="qrField" class="drag" style="left:{{ event.qr_x|default:50 }}px;top:{{ event.qr_y|default:50 }}px;">QR</div>
    </div>


<!--    certificate preview-->
    <div id="preview" style="position:relative;border:1px solid black;">
        <img src="{{ event.certificate.url }}" width="500">

        <div id="previewName" class="previewText" style="left:{{ event.name_x|default:50 }}px;top:{{ event.name_y|default:50 }}px;">Student_Name</div>
        <div id="previewEvent" class="previewText" style="left:{{ event.event_x|default:50 }}px;top:{{ event.event_y|default:50 }}px;">{{ event.title }}</div>
        <div id="previewDate" class="previewText" style="left:{{ event.date_x|default:50 }}px;top:{{ event.date_y|default:50 }}px;">{{ event.start }}</div>
        <img id="previewQR"  width="80" src="{% static 'Super/assets/images/sample_qr.png' %}" style="left:{{ event.qr_x|default:50 }}px;top:{{ event.qr_y|default:50 }}px;">
    </div><br><br>

</div>
    <button onclick="savePositions()" class="btn btn-success">Save Positions</button>
    <style>
        .drag{
            position:absolute;
            padding:5px 10px;
            baackground:white;
            border:1px solid black;
            cursor:move;
            z-index:10;
        }
        .previewText{
            position:absolute;
            font-weight:bold;
        }
        #previewQR{
            position:absolute;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-4.0.0.min.js"></script>
    <script>
        const previewMap = {
            nameField:"previewName",
            eventField:"previewEvent",
            dateField:"previewDate",
            qrField:"previewQR"
        }
        // Drag Function
        function dragElement(elmnt){
            let pos1=0,pos2=0,pos3=0,pos4=0
            elmnt.onmousedown=dragMouseDown
            function dragMouseDown(e){
                e.preventDefault()

                pos3=e.clientX
                pos4=e.clientY

                document.onmouseup=closeDrag
                document.onmousemove=elementDrag

            }
            function elementDrag(e){
                e.preventDefault()

                pos1=pos3-e.clientX
                pos2=pos4-e.clientY

                pos3=e.clientX
                pos4=e.clientY

                elmnt.style.top=(elmnt.offsetTop-pos2)+"px"
                elmnt.style.left=(elmnt.offsetLeft-pos1)+"px"

                // move preview element
                let previewId = previewMap[elmnt.id]
                if(previewId){
                    let previewElement = document.getElementById(previewId)
                    if(previewElement){
                    previewElement.style.top = elmnt.offsetTop + "px"
                    previewElement.style.left = elmnt.offsetLeft + "px"
                    }
                }
            }
            function closeDrag(){
                document.onemouseup=null
                document.onmousemove=null
            }
        }
        dragElement(document.getElementById("nameField"))
        dragElement(document.getElementById("eventField"))
        dragElement(document.getElementById("dateField"))
        dragElement(document.getElementById("qrField"))

        // Save Function
        function savePositions(){
            let name = document.getElementById("nameField")
            let event = document.getElementById("eventField")
            let date = document.getElementById("dateField")
            let qr = document.getElementById("qrField")

            fetch("/AdminPanel/save-positions/",{
                method:"POST",
                headers:{
                    "Content-Type":"application/json",
                    "X-CSRFToken":"{{ csrf_token }}"
                },
                body:JSON.stringify({
                    event_id:"{{ event.id }}",

                    name_x:name.offsetLeft,
                    name_y:name.offsetTop,

                    event_x:event.offsetLeft,
                    event_y:event.offsetTop,

                    date_x:date.offsetLeft,
                    date_y:date.offsetTop,

                    qr_x:qr.offsetLeft,
                    qr_y:qr.offsetTop
                })
            })
            .then(res => res.json())
            .then(data => {
                Swal.fire({
                    icon: data.status,
                    text: data.message,
                    timer: 2000,
                    showConfirmButton: false
                });
            });
            return false;
        }
    </script>
</body>
</html>
{% endblock %}