<!DOCTYPE html>
{% extends 'college_admin.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.26.24/dist/sweetalert2.min.css" rel="stylesheet">
</head>
<body>
    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">All Events</h4><br>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="bg-info text-white">
                                            <tr>
                                                <th>Title</th>
                                                <th>Description</th>
                                                <th>Event Type</th>
                                                <th>Starting</th>
                                                <th>Ending</th>
                                                <th>Registration Deadline</th>
                                                <th>Mode</th>
                                                <th>Location</th>
                                                <th>Max Participants</th>
                                                <th>Registration Fees</th>
                                                <th>Certificate Template</th>
                                                <th>Poster</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in own_event %}
                                            <tr>
                                                <td>{{ i.title }}</td>
                                                <td>{{ i.description }}</td>
                                                <td>{{ i.type }}</td>
                                                <td>{{ i.start }}</td>
                                                <td>{{ i.end }}</td>
                                                <td>{{ i.dead }}</td>
                                                <td>{{ i.mode }}</td>
                                                <td>{{ i.location }}</td>
                                                <td>{{ i.maxS }}</td>
                                                <td>{{ i.fee }}</td>
                                                <td>
                                                    <img src="{{ i.certificate.url }}" alt="" height="50px">
                                                </td>
                                                <td>
                                                    <img src="{{ i.poster.url }}" alt="" height="50px">
                                                </td>
                                                <td>
                                                    <div style="display:flex;gap:10px;">
                                                    <a  class="btn btn-rounded">{{ i.status }}</a>
                                                    <a href="#" onclick="confirmDelete('{% url 'delete_event' delete_id=i.id %}'); return false;" class="btn btn-danger btn-rounded" style="color:white;"> Delete</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-4.0.0.min.js"></script>
    {% if messages %}
    <script>
    {% for m in messages %}
        Swal.fire({
            icon: "{{ m.tags }}",
            text: "{{ m }}",
            timer:3000,
            showConfirmButton: false
        });
    {% endfor %}
    </script>
    {% endif %}
    <script>
        function confirmDelete(url){
            Swal.fire({
                text: "Are you sure?",
                icon: "warning",
                showCancelButton: true,
            }).then((result) => {
                if (result.isConfirmed){
                    window.location.href = url;
                }
            });
        }
    </script>
</body>
</html>
{% endblock %}